<%- include('header') -%>
<%- include('navbar') -%>
<%- include('contestbanner') -%>
<div id="activeContest"></div>
<section id="submitOrVoteSection">
    <%- include('user/submitOrVote') -%>
</section>
<%- include('bodyend') -%>