<%- include('header') -%>
<%- include('navbar') -%>
<%- include('contestbanner') -%>
<section id="howItWorkSection">
    <%- include('user/howItWorks') -%>
</section>
<div id="activeContest"></div>
<section id="submitEntrySection">
    <%- include('user/submitEntry') -%>
</section>
<%- include('bodyend') -%>