<%- include('header') -%>
<%- include('navbar') -%>
<%- include('userbanner') -%>
<section id="showErrorSuccess"></section>
<section id="howItWorkSection">
    <%- include('user/howItWorks') -%>
</section>
<section id="activeContest"></section>
<section id="submitEntrySection"></section>
<%- include('bodyend') -%>