<%- include('app/header') -%>
<%- include('app/navbar') -%>
<%- include('app/userbanner') -%>
<div class="home-grid-container">
    <%- include('user/home/contestwinner') -%>
    <%- include('user/home/discordsection') -%>
    <%- include('user/home/youtubesection') -%>
    <%- include('user/home/twitchsection') -%>
    <%- include('user/home/patreonsection') -%>
</div>
<%- include('app/bodyend') -%>