<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner-blue') -%>
<section id="showErrorSuccess"></section>
<section id="howItWorkSection">
    <%- include('howItWorks') -%>
</section>
<section id="nextRoundTimer"></section>
<section id="activeShuffle"></section>
<section id="previousLinks" class="hidden"></section>
<section id="workshopLink" class="hidden"></section>
<section id="submitEntrySection"></section>
<%- include('../../app/bodyend') -%>