<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<section id="activeShuffle" class="shuffle"></section>
<section id="nextRoundTimer" class="hidden shuffle"></section>
<section id="previousLinks" class="shuffle">
        <a target="_BLANK" href="/shuffle/progress"><h1>Shuffle Progress</h1></a>
</section>
<section id="workshopLink" class="hidden shuffle"></section>
<section id="showErrorSuccess" class="hidden shuffle"></section>
<section id="submitEntrySection" class="hidden shuffle"></section>
<section id="howItWorkSection" class="shuffle">
    <%- include('howItWorks') -%>
</section>
<%- include('../../app/bodyend') -%>