<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<%- include('../../app/blue-dragon') -%>
<section id="shufProgressTable"></section>
<section id="showErrorSuccess"></section>
<%- include('../../app/bodyend') -%>