<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<%- include('../../app/chill-dragon') -%>
<section id="showErrorSuccess"></section>
<section id="contestRubric">
    <h1 id="contestRubricHeader">Scoring Rubric</h1>
    <ul id="judgingRubric"></ul>
</section>
<form action="/api/contest/judge/submit" method="POST" id="judgeSubmitForm">
    <section id="submissionTable" class="table-style">
        <input type="hidden" id="contestIDHidden" name="contestID">
        <table id="judgeTable"></table>
    </section>
    <div id="submitBtnContainer" class="submit-container"></div>
</form>
<%- include('../../app/backToTop') -%>
<%- include('../../app/bodyend') -%>
