<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner-chill') -%>
<section id="showErrorSuccess"></section>
<section id="contestResultsContainer">
    <table id="contestResultsTable"></table>
</section>
<%- include('../../app/backToTop') -%>
<%- include('../../app/bodyend') -%>