<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner-chill') -%>
<section id="showErrorSuccess"></section>
<section id="howItWorkSection">
    <%- include('howItWorks') -%>
</section>
<section id="judgeSection"></section>
<section id="activeContest"></section>
<section id="contestRubric" class="contestPageRubric"></section>
<section id="submitEntrySection"></section>
<%- include('../../app/bodyend') -%>