<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<section id="showErrorSuccess"></section>
<section id="howItWorkSection">
    <%- include('howItWorks') -%>
</section>
<section id="activeContest"></section>
<section id="submitEntrySection"></section>
<%- include('../../app/bodyend') -%>