<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<section id="showErrorSuccess"></section>

<div class="disclaimer">Disclaimer:<br>Initial values are randomized for psychological fairness.<br>Duplicate picks will not be accepted by the system.</div>

<section id="contestVotingContainer">
    <h1>Choose Your Top 5</h1>
    <form method="post" action="/api/contest/vote/submit" id="contestVoteForm">
        <table>
            <tr>
                <td><label for="firstPick">First pick:</label></td>
                <td><select name="firstPick" id="firstPick" class="votingPick"></select></td>
                <td><input type="button" id="firstPickBtn" class="jump-to-icon" /></td>
            </tr>

            <tr>
                <td><label for="secondPick">Second pick:</label></td>
                <td><select name="secondPick" id="secondPick" class="votingPick"></select></td>
                <td><input type="button" id="secondPickBtn" class="jump-to-icon" /></td>
            </tr>

            <tr>
                <td><label for="thirdPick">Third pick:</label></td>
                <td><select name="thirdPick" id="thirdPick" class="votingPick"></select></td>
                <td><input type="button" id="thirdPickBtn" class="jump-to-icon" /></td>
            </tr>

            <tr>
                <td><label for="fourthPick">Fourth pick:</label></td>
                <td><select name="fourthPick" id="fourthPick" class="votingPick"></select></td>
                <td><input type="button" id="fourthPickBtn" class="jump-to-icon" /></td>
            </tr>

            <tr>
                <td><label for="fifthPick">Fifth pick:</label></td>
                <td><select name="fifthPick" id="fifthPick" class="votingPick"></select></td>
                <td><input type="button" id="fifthPickBtn" class="jump-to-icon" /></td>
            </tr>
        </table>
        <input type="hidden" id="contestIDHidden" name="contestID">
        <br>
        <input type="submit" value="Submit Votes" />
    </form>
</section>

<section id="contestSubmissionContainer"></section>
<%- include('../../app/backToTop') -%>
<%- include('../../app/bodyend') -%>