<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<%- include('../../app/chill-dragon') -%>
<section id="showErrorSuccess"></section>
<section id="contestResultsContainer">
    <h1 id="contestName"></h1>
    <table id="contestResultsTable"></table>
</section>
<%- include('../../app/backToTop') -%>
<%- include('../../app/bodyend') -%>